<div class="form-group">
    <label v-html="label"></label>
    <div class="radio" v-for="option in options" :for="(id || name) + option[option_value]">
        <label>
            <input type="radio"
                   :name="name"
                   :id="(id || name) + option[option_value]"
                   :value="option[option_value]"
                   :checked="value === option[option_value]"
                   @change="handleRadio"/>
            {{ option[option_name] }}
        </label>
    </div>
    <ul class="form-errors" v-if="fieldErrors">
        <li v-for="error in fieldErrors">{{ error }}</li>
    </ul>
</div>
